@media (max-width: 835px) and (max-height: 1300px) {
    body {
        max-width: 100%;
        min-height: 100vh;
        
    }

    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container {
        max-width: 80%;
        height: 95%;
        padding: 20px 20px;

    }

    .container img {
        width: 100%;
        max-width: 500px;
        margin: 50px 0;
    }

    .container h1 {
        height: 150px;
        font-size: 47px;
        margin-top: 25px;
      
    }

    .container span {
        font-size: 30px;
        margin-top: 20px;
      
    }

    .attribution {
        font-size: 20px;      
        margin-top: 20px;
    }
}

@media(max-width: 500px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .container {
        max-width: 100%;
        max-height: 80%;
    }

    .container img {
        max-width: 90%;
        margin: 0;
    }

    .container h1 {
        font-size: 25px;
    }

    .container span {
        font-size: 20px;
    }
}

@media (max-width: 200px) {
    .container h1 {
        margin: 70px;
    }

     .container span {
       margin: 30px;
    }
}