
body {
    background-color: #d6e2f0;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    height: 499px;
    border-radius: 22px;

}

.logo img {
    max-width: 288px;    
    margin: 16px 16px 24px 16px;
    border-radius: 10px;
}

.text-container {
    max-width: 288px;
    height: 131px;
    padding: 0 16px 0 16px;
}
.text-container h1 {
    
    font-family: 'Outfit', serif;    
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1f3251;
    padding-bottom: 16px;
}

.text-container span {

    font-family: 'Outfit', serif;   
    font-weight: 400;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: center;    
    color: #52688d;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
    margin-top: 10px;
}